/target

# general purpose data (database files etc)
/_DATA

# testing and backup files
*.backup
*.testing
*.testing.*

# github issue template folder
##/.github/ISSUE_TEMPLATE

# typescript/node stuff
node_modules/
