html {
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
}

.rsw-navbar {
  background-color: #255C99;
}

.rsw-navbar-apptitle {
  color: #FFD500
}

.rsw-dashboard-container {
  height: 100%;
}

.rsw-titlestrip {
  /*background-color: #B3001B;*/
  background-color: #FFD500;
}

.rsw-titlestrip-titles {
  color: white;
  text-shadow: 1px 1px 4px #7F7F7F;
}

.rsw-statisticsmanager-nostats {
  background-color: #F5F5F5;
}

.rsw-loginpage-section {
  height: 100%;
  /*overflow: auto;*/
}

.rsw-loginpage-section-background {
  background-image: url("img/aircarrier.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rsw-loginpage-formbox-quote {
  margin-top: 8%;
  margin-bottom: 14% !important;
}
