
body {
  height: 100vh;
  overflow: hidden;
}

.cw-navbar {
  background-color: #255C99;
}

.cw-navbar-apptitle {
  color: #FFD500
}

.cw-dashboard-container {
  height: 100%;
}

.cw-titlestrip {
  /*background-color: #B3001B;*/
  background-color: #FFD500;
}

.cw-titlestrip-titles {
  color: white;
  text-shadow: 1px 1px 4px #7F7F7F;
}

.cw-statisticsmanager-nostats {
  background-color: #F5F5F5;
}
